[Desktop Entry]
Encoding=UTF-8
Name=moonet
Comment=moonet P2P Cryptocurrency
Comment[fr]=moonet, monnaie virtuelle cryptographique pair à pair
Comment[tr]=moonet, eşten eşe kriptografik sanal para birimi
Exec=moonet-qt %u
Terminal=false
Type=Application
Icon=moonet128
MimeType=x-scheme-handler/moonet;
Categories=Office;Finance;
